
nav {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background-color: rgb(38, 38, 38);
  width: 100%;
}

#nav-logo {
  justify-content: left;
  transform: translateY(8%);
}

#nav-links {
  margin-left: auto;
  padding-right: 10px;
}

#nav-links > * {
  padding-left: 15px;
}

.landing {
  display: flex;
  justify-content: center;
  color: ;
}