:root {
  font-family: 'Star Jedi', arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.starship-card {
  display: flex;
  background-color: rgb(30, 74, 69);
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.starship-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  align-content: center;
  width: 450px;
  padding: 0px 0px 10px 20px;
  background-color: rgb(30, 74, 69);
}

h1 {
  font-family: 'Star Jedi';
  text-align: center;
}

.starship-details > * {
  margin-top: 10px;
  margin-bottom: 0px;
}

.planet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-card {
  border: solid 2px;
  background-color: #1a3c4ea8;
  border-radius: 50%;
  display: flex;
  margin: 30px;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 30px #48abe0;
}

.planet-card  > * {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}